<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <ion-icon name="menu-outline" onclick="toggleSidebar()"></ion-icon>
            <img src="../assets/img/1-removebg-preview1.png" alt="niniss">
        </div>
        <div class="search">
            <div class="search-box">
                <form action="" method="post">
                    <input type="text" placeholder="Search">
                    <span><ion-icon name="search-outline"></ion-icon></span>
                </form>
            </div>
            <span class="mic"><ion-icon name="mic-outline"></ion-icon></span>
        </div>
        <div class="icons">
            <ion-icon name="videocam-outline"></ion-icon>
            <ion-icon name="notifications-outline"></ion-icon>
            <img src="../assets/img/pics.jpeg" alt="">
        </div>

    </header>
    <main>

        <div class="main-content">
            <div class="videos">
               
                <div class="video-box">
                    <img src="" alt="Video Thumbnail 1">
                    <h3>Video Title 1</h3>
                    <p>Video Description 1</p>
                </div>
    
                <div class="video-box">
                    <img src="g" alt="Video Thumbnail 2">
                    <h3>Video Title 2</h3>
                    <p>Video Description 2</p>
                </div>
    
                <div class="video-box">
                    <img src="" alt="Video Thumbnail 3">
                    <h3>Video Title 3</h3>
                    <p>Video Description 3</p>
                </div>
            </div>
            
            <div class="sidebar">
               
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shorts</a></li>
                    <li><a href="#">Subscriptions</a></li>
                  
                </ul>
            </div>
        </div>
    </main>
    <div class="sidebar" id="sidebar">
      
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Subscriptions</a></li>
           
        </ul>
    </div>

    <footer>
        
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
 <script src="../assets/javascript/script.js"></script>
</body>

</html>