<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <ion-icon name="menu-outline"></ion-icon>
            <img src="../assets/img/1-removebg-preview1.png" alt="niniss">
        </div>
        <div class="search">
            <form class="search-wrapper cf">
                <input type="text" placeholder="Search.." required style="box-shadow: none">
                <button type="submit"><ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
        </div>
        <div class="icons">
            <ion-icon name="videocam-outline"></ion-icon>
            <ion-icon name="notifications-outline"></ion-icon>
        
        </div>

    </header>
    <main>

    </main>


    <footer>
        
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>l